ul {
    align-items: center !important;
}

/* 
@media (max-width: 960px) {

    #navToggle {
        display: block;
    }

    #navCollapse {
        display: block !important;
        background-color: red !important;
        /* display: none !important; 
    }
}
*/

@media (min-width: 1024px) {

nav {
        width: 80% !important;
        margin: 0 auto !important;

    }
} 
